.home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.image-container {
  width: 500px;
}

.home-footer {
  font-size: 10px;
}

.home-header {
  font-size: 40px;
}
