.header-container {
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
  background-color: #73829F;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  align-items: center;
}

.navbar-text {
  color: #FFFFFF;
  font-size: 40px;
  font-family: 'Raleway';
  margin-left: 70px;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  height: 52px;
  width: 122px;
  border-radius: 13px;
  background-color: #FFFFFF;
  color: #73829F;
  font-size: 30px;
  border: none;
}

.navbar-button:active:focus {
  background-color: #73829F;
  color: #FFFFFF;
  border-radius: 13px;
  border-color: #FFFFFF;
  border: solid;
  border-width: medium;
  outline:0;
}

.navbar-button-text {
  font-family: 'Raleway';
  text-decoration: none;
}

.navbar-button-text:hover {
  text-decoration: none;
}

.portfolio-text {
  font-size: 30px;
  color: #FFFFFF;
  font-family: 'Raleway';
  margin-left: 70px;
  margin-bottom: 40px;
}



@media only screen and (max-width: 768px) {
  .navbar-text {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: 32px;
    margin-left: 70px;
  }
  .navbar-svg {
    margin-right: 30px;
  }
  .navbar-button {
    margin-bottom: 20px;
    margin-left: 70px;
  }
  .portfolio-text {
    width: 500px;
  }
}


@media only screen and (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
  }
  .navbar-text {
    margin-left: 20px;
  }
  .navbar-svg {
    margin-right: 15px;
  }
  .navbar-button {
    margin-left: 20px;
  }
  .portfolio-text {
    width: 100%;
    font-size: 17px;
    margin-left: 0px;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
