.custom-navbar {
  position: fixed;
  top: 80px;
  right: 10%;
}

.link-styles {
  text-decoration: none;
}

.navitem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80px;
  background-color: pink;
  text-decoration: none;
  color: black;
}
